.button{
    animation: border-color-change 3s infinite alternate;
    border: #A2BBF0 solid 2px;
    background: $black;
    cursor: pointer;
    color: $white;
    border-radius: 8px;
    padding: 10px 15px;

    &--modal{
        border-radius: 0 8px 8px 0;
        padding: 0 20px;
    }
}

.check-wrapper, .plus-wrapper {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 50%;
    padding: 0;
    img {
        width: 20px;
        height: 20px
    } 
}
.check-wrapper{
    &--headline{
       cursor: auto;
    }
    &:hover{
        animation: none;
        filter: none;
    }
}

@keyframes border-color-change {
    0% { border-color: $blue; }
    25% { border-color: $green; }
    50% { border-color: $orange; } 
    75% { border-color: $pink; } 
    100% { border-color: $yellow; }
  }

  .plus-wrapper {
    width: 80px;
    min-width: 80px;
    height: 80px;
    min-height: 80px;
    img {
        width: 25px;
        height: 25px
    } 
    &::after {
        content: "";
        background-color: $gray;
        width: 78px;
        min-width: 78px;
        height: 78px;
        min-height: 78px;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%); 
        z-index: -1;
        opacity: 0;
        transition: transform 0.3s ease-in, opacity 0.3s ease-in, filter 0.3s ease-in;
        filter: blur(2px);
    }
    &:hover::after {
        transform: translate(-50%, -50%) scale(1.3); 
        opacity: .5;
    }
    
}