body{
    background: rgb(203,159,242);
    background: radial-gradient(circle, rgba(203,159,242,1) 0%, rgba(153,193,240,1) 78%);
    padding: 0 30px;
}
// Typography
h1 {
    font-family: $poppins;
    font-weight: $poppins-semibold;
    text-align: center;
    font-size: clamp(25px, 2vw, 75px);
  }
p{
    font-family: $poppins;
    font-weight: $poppins-regular;
}

.headline{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.new-todo-container{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}