// fonts
$poppins: "Poppins", sans-serif;
$poppins-regular: 400;
$poppins-semibold: 600;
  
// colors
$black: #1E212F;
$gray: #A390B9;
$blue: #A2BBF0;
$green: #77BAB5;
$orange: #ED9966;
$pink: #D55E7A;
$yellow: #EDD581;