body {
  background: rgb(203, 159, 242);
  background: radial-gradient(circle, rgb(203, 159, 242) 0%, rgb(153, 193, 240) 78%);
  padding: 0 30px;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: clamp(25px, 2vw, 75px);
}

h2 {
  font-weight: 600;
  text-align: center;
  font-size: clamp(18px, 1.5vw, 55px);
  color: #616895;
}

p {
  font-weight: 400;
}

.headline {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.new-todo-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 20px;
}

.button {
  animation: border-color-change 3s infinite alternate;
  border: #A2BBF0 solid 2px;
  background: #1E212F;
  cursor: pointer;
  color: #F9F5FC;
  border-radius: 8px;
  padding: 10px 15px;
}
.button--modal {
  border-radius: 0 8px 8px 0;
  padding: 0 20px;
}

.check-wrapper, .plus-wrapper {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  padding: 0;
}
.check-wrapper img, .plus-wrapper img {
  width: 20px;
  height: 20px;
}

.check-wrapper--headline {
  cursor: auto;
}
.check-wrapper:hover {
  animation: none;
  filter: none;
}

@keyframes border-color-change {
  0% {
    border-color: #A2BBF0;
  }
  25% {
    border-color: #77BAB5;
  }
  50% {
    border-color: #ED9966;
  }
  75% {
    border-color: #D55E7A;
  }
  100% {
    border-color: #EDD581;
  }
}
.plus-wrapper {
  width: 80px;
  min-width: 80px;
  height: 80px;
  min-height: 80px;
}
.plus-wrapper img {
  width: 25px;
  height: 25px;
}
.plus-wrapper::after {
  content: "";
  background-color: #616895;
  width: 78px;
  min-width: 78px;
  height: 78px;
  min-height: 78px;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in, filter 0.3s ease-in;
  filter: blur(2px);
}
.plus-wrapper:hover::after {
  transform: translate(-50%, -50%) scale(1.3);
  opacity: 0.5;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(253, 252, 252, 0.2);
  max-width: 500px;
  margin: 15% auto;
  padding: 20px 20px 40px 20px;
  border: 1px solid #616895;
  border-radius: 8px;
  width: 80%;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}
.modal-content button {
  color: #F9F5FC;
}

/* The Close Button */
.close {
  color: #616895;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
}

#todo-input {
  border-radius: 8px 0 0 8px;
  padding: 12px 16px;
  border: 1px solid rgb(81, 203, 238);
  width: 100%;
  height: 20px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s;
  resize: none;
}

#todo-input:focus {
  outline: none;
}

.todos-container {
  max-width: 800px;
  margin: 0 auto;
}

.todo-item {
  background: rgba(253, 252, 252, 0.2);
  border: 1px solid #616895;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
